@use "../base/theme" as theme;
@use "../base/mixin" as mixin;

.large-button {
  border-radius: 50%;
  position: relative;
  width: 9rem;
  aspect-ratio: 1;
  display: inline-grid;
  place-items: center;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: hsl(0 0% 100% / 0.1);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: hsl(0 0% 100% / 0.15);
      opacity: 1;
      transform: scale(1.5);
    }
  }

  @include mixin.respond-to(md) {
    width: 17rem;
  }
}
