@use "../base/mixin" as mixin;

.primary-header {
  align-items: center;
  justify-content: space-between;

  @include mixin.respond-to(lg) {
    &::after {
      content: "";
      position: relative;
      right: -2.5rem;
      height: 1px;
      background-color: hsl(0 0% 100% / 0.25);
      z-index: 9999;
      width: 80%;
      order: 1;
    }

    nav {
      order: 2;
    }
  }

  @include mixin.respond-to(lg) {
    margin-top: 2.5rem;
  }
}

.logo {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 2.5rem;

  @include mixin.respond-to(md) {
    margin-left: 2rem;
    margin-top: 0;
    width: 3rem;
  }
}
