@use "../base/mixin" as mixin;

.home {
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include mixin.respond-to(md) {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }

  @include mixin.respond-to(lg) {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}

.grid-container--home {
  align-content: space-around;
  padding: 1.5rem;

  span.block {
    margin-block: 2rem;
  }

  @include mixin.respond-to(md) {
    padding-block: 5rem;
  }

  @include mixin.respond-to(lg) {
    align-content: end;
    padding-bottom: 10rem;
  }
}

.grid-container--home h1,
p {
  max-width: 34rem;
  @include mixin.respond-to(lg) {
    text-align: start;
  }
}

.grid-container--home p {
  line-height: 180%;
}
