$colors: (
  "dark": 230 35% 7%,
  "accent": 231 77% 90%,
  "white": 0 0% 100%,
  "gray": 0 0% 60%,
);
// text-dark, text-accent, text-white
@each $key, $value in $colors {
  .text-#{$key} {
    color: hsl($value);
  }
}

// bg-dark, bg-accent, bg-white
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: hsl($value);
  }
}
